@*Model*@ 

@model CinemaTicketManagementSystem.Models.Producer
@*View Data or C# Code*@

@*HTML Code*@


<div class="row">
    
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                     <th> @Html.DisplayNameFor(model => model.ProfilePictureUrl)</th> 
                     <th> @Html.DisplayNameFor(model => model.Country)</th> 
                     <th> @Html.DisplayNameFor(model => model.FullName)</th> 
                     <th> @Html.DisplayNameFor(model => model.Bio)</th> 
                     <th> Actions </th> 
                </tr>
            </thead>
            <tbody>
                 @foreach (var item in ViewBag.Producers)
                {
                    <tr>
                         <td class="allign-middle">
                           <img class = "rounded-circle" src="@item.ProfilePictureUrl" alt="@item.FullName" style="height: 103px;width: 141px;"/>
                       </td>

                       <td class="allign-middle">
                           @item.Country
                       </td>

                       <td class="allign-middle">
                            @item.FullName
                       </td>
                       <td class="allign-middle">
                               @item.Bio
                       </td>
                       <td class="allign-middle">
                           <a class="btn btn-outline-primary">
                               <i class = "glyphicon glyphicon-edit">Edit</i>
                           </a>
                            <a class="btn btn-outline-primary">
                               <i class = "bi bi-eye">Details</i>
                           </a>
                            <a class="btn btn-outline-primary">
                               <i class = "bi bi-trash">Delete</i>
                           </a>
                       </td>
                    </tr> 
                 }
            </tbody>
        </table>
    </div>
</div>