@*Model*@ 

@model CinemaTicketManagementSystem.Models.Cinema
@*View Data or C# Code*@

@*HTML Code*@


<div class="row">
    
    <div class="col-md-8 offset-md-2">
           <a class="btn btn-info float-right mb-4" asp-action="Create">Add New Cinema</a>
        <table class="table">
            <thead>
                <tr>
                     <th> @Html.DisplayNameFor(model => model.Logo)</th> 
                     <th> @Html.DisplayNameFor(model => model.Name)</th> 
                     <th> @Html.DisplayNameFor(model => model.Description)</th> 
                     <th> Actions </th> 
                </tr>
            </thead>
            <tbody>
                 @foreach (var item in ViewBag.Cinemas)
                {
                    <tr>
                          @if (item.Logo != null)
                        {
                            <td class="allign-middle">
                                <span class="rounded-circle prof-pic" style=" background-image:url('@item.Logo')"></span>

                            </td>
                        }
                        @if (item.Logo == null)
                        {
                            <td class="col-md-6 pr-md-0 d-flex justify-content-center align-items-center">

                                <i class="bi bi-image text-danger fa-2x"></i>

                            </td>
                        }

                       <td class="allign-middle">
                            @item.Name
                       </td>
                       <td class="allign-middle">
                               @item.Description
                       </td>
                       <td class="allign-middle">
                            <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Edit"></i>

                            </a>
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">
                                <i class="bi bi-eye" data-toggle="tooltip" data-placement="top" title="Details"></i>

                            </a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="bi bi-trash" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                            </a>
                        </td>
                    </tr> 
                 }
            </tbody>
        </table>
    </div>
</div>