@*Model*@

@model IEnumerable<Actor>

@*View Data*@

  @{
    ViewData["Title"] = "Actors List";
}


@*Html Code*@


<div class="row">

    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(model => model.ProfilePictureUrl)</th>
                    <th> @Html.DisplayNameFor(model => model.Country)</th>
                    <th> @Html.DisplayNameFor(model => model.FullName)</th>
                    <th> @Html.DisplayNameFor(model => model.Bio)</th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="allign-middle">
                            <img class="rounded-circle" src="@item.ProfilePictureUrl" alt="@item.FullName" style="height: 103px;width: 141px;" />
                        </td>


                        <td class="allign-middle">
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td class="allign-middle">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="allign-middle">
                            @Html.DisplayFor(modelItem => item.Bio)
                        </td>
                        <td class="allign-middle">
                            <a class="btn btn-outline-success">
                                <i class="bi bi-pencil" data-toggle="tooltip" data-placement="top" title="Edit"></i>

                            </a>
                            <a class="btn btn-outline-info">
                                <i class="bi bi-eye" data-toggle="tooltip" data-placement="top" title="Details"></i>

                            </a>
                            <a class="btn btn-outline-danger">
                                <i class="bi bi-trash" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>