@{
    ViewData["Title"] = "List of Movies";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <button class="btn btn-info float-left mb-4" disabled>List of Movies</button>
        </div>

        <div class="col-6">
            <a class="btn btn-success float-right mb-4" asp-action="Create">Add New Movie</a>
        </div>
    </div>

    <div class="row">

        @foreach (var item in ViewBag.Movies)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header">
                                <h5 class="card-title mb-0">
                                        @item.Name
                                    </h5>
                            </div>
                        </div>
                        @if (@item.ImageURL == null)
                        {
                            <div class="col-md-6 pr-md-0 d-flex justify-content-center align-items-center">
                                <i class="bi bi-image text-danger fa-4x"></i>
                            </div>
                        }
                        @if (@item.ImageURL != null)
                        {
                            <div class="col-md-6 pr-md-0" >
                                <img src="@item.ImageURL" width="100%" height="auto" alt="@item.Name">
                            </div>

                        }
                        
                        <div class="col-md-6 pl-md-0">
                            <div class="card-body">
                                <p class="card-text">@item.Description</p>
                                <p class="card-text"><b>Cinema: </b> <br> <small> @item?.Cinema?.Name</small></p>
                                <p class="card-text"><b>Category: </b> <br> <small> @item.MovieCategory </small> </p>
                                <p class="card-text"><b>Start Date: </b> <br><small> @item.StartDate.ToString("dd MMM yy")</small></p>
                                <p class="card-text"><b>End Date: </b> <br> <small> @item.EndDate.ToString("dd MMM yy") </small></p>
                                <p class="card-text ">
                                    <b>Status: </b> <br> 
                                    @if (DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                                    {
                                        <small class="badge bg-success text-white"> RUNNING</small>
                                    }
                                    else if (DateTime.Now > item.EndDate)
                                    {
                                        <small class="badge bg-danger text-white">EXPIRED</small>
                                    }
                                    else
                                    {
                                        <small class="badge bg-primary text-white">UPCOMING</small>
                                    }
                                </p>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer ">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id"> 
                                        <i class="bi bi-eye-fill"></i> Show Details
                                    </a>
                                    <a class="btn btn-success text-white">
                                        <i class="bi bi-cart-plus"></i> Add to Cart
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



